<div class="container-fluid nopadding">
    <div class="row">
        <div class="col-sm-5 ">
            <div uib-carousel active="0" interval="3000" no-wrap="true" class="main-shadow">
                <div uib-slide ng-repeat="slide in slides " index="$index">
                    <img ng-src="{{slide.image}}" style="margin:auto;">
                    <div class="carousel-caption">
                        <p>{{slide.title}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-7 cpanel">
            <div class="cpanel-title">
                <h4>推荐课程</h4>
                <a class="right" ui-sref="app.course.list"><h6 >查看更多...</h6></a>
            </div>
            <div class="cpanel-ul">
                <div ng-repeat="course in recommendcourses" class="cpanel-li">
                    <a ui-sref="app.section.list({courseid: course.courseid})"><h6>{{course.title}}</h6></a>
                    <a class="right" ui-sref="app.user.info.teacher({userid: course.creator.userid})"><h6>{{course.creator.username}}</h6></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 cpanel">
            <div class="cpanel-title">
                <h4>公告</h4>
                <a class="right" ui-sref="app.notic"><h6 >查看更多...</h6></a>
            </div>
            <div class="cpanel-ul">
                <div ng-repeat="notic in notics" class="cpanel-li"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 cpanel">
            <div class="cpanel-title">
                <h4>资源下载</h4>
                <a class="right" ui-sref="app.resource.list"><h6 >查看更多...</h6></a>
            </div>
            <div class="cpanel-ul">
                <div ng-repeat="resource in resources" class="cpanel-li"></div>
            </div>
        </div>
    </div>
</div>
