<div class="container-fluid nopadding">
    <div class="row">
        <div class="col-sm-5 ">
            <div uib-carousel active="0" interval="3000" no-wrap="true" class="main-shadow">
                <div uib-slide ng-repeat="slide in slides " index="$index">
                    <img ng-src="{{slide.image}}" style="margin:auto;">
                    <div class="carousel-caption">
                        <p>{{slide.title}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-sm-offset-2 cpanel">
        <div class="cpanel-title">
                <h4>公告</h4>
                <a class="right" ui-sref="app.notic"><h6 >查看更多...</h6></a>
            </div>
            <div class="cpanel-ul">
                <div ng-repeat="notic in noticlist" class="cpanel-li">
                    <a ui-sref="app.notic.detail({noticid: notic.noticid})"><h6>{{notic.title}}</h6></a>
                    <div class="right"><h6>{{notic.creattime | date: 'yyyy-MM-dd hh:mm'}}</h6></div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 cpanel">
            <div class="cpanel-title">
                <h4>课程</h4>
                <a class="right" ui-sref="app.course.list"><h6 >查看更多...</h6></a>
            </div>
            <div ng-repeat="course in recommendcourses" class="col-sm-2 col-xs-6 crecommend" >
                <div  class="main-shadow" style="background: #fff">

                    <a ui-sref="app.section({courseid: course.courseid})">
                        <div style="background-image: url('{{course.cover}}')" class="main-shadow img"></div>
                    </a>
                    <div style="padding:5px">
                        <a  ui-sref="app.section({courseid: course.courseid})"><h6 >{{course.title}}</h6></a>
                    <a class="right" ui-sref="app.user.info.teacher({userid: course.creator.userid})"><h6>{{course.creator.username}}</h6></a>
                    </div >
                    
                </div>
            </div>
                
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 cpanel">
            <div class="cpanel-title">
                <h4>资源下载</h4>
                <a class="right" ui-sref="app.resource.list"><h6 >查看更多...</h6></a>
            </div>
            <div class="cpanel-ul">
                <div ng-repeat="resource in resources" class="cpanel-li"></div>
            </div>
        </div>
    </div>

</div>
