<div class="col-sm-8">
    <form class="form-horizontal form-validation" name="signupform" ng-submit="usersignup()">
        <div class="form-group">
            <label for="username" class="control-label col-sm-2">用户名</label>
            <div class="col-sm-3">
                <input type="text" autocomplete="off" class="form-control" id="username" ng-model="signupuser.username" required ng-pattern="/^[0-9a-zA-Z\u4e00-\u9fa5]{4,9}$/" required>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="control-label col-sm-2">密码</label>
            <div class="col-sm-3">
                <input type="text" autocomplete="off" onfocus="this.type='password';" class="form-control" id="password" ng-model="signupuser.password"  ng-pattern="/^[0-9a-zA-Z]{6,16}$/" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">用户类型</label>
            <div class="col-sm-4"  style="padding-top: 7px">
                <label class="i-checks">
                    <input type="radio" ng-init="signupuser.type = 0" ng-checked="true" ng-model="signupuser.type" value="0">
                    <i></i> 学生
                </label>
                <label class="i-checks">
                    <input type="radio"  ng-model="signupuser.type" value="1">
                    <i></i> 老师
                </label>
            </div>
        </div>
        <input type="submit" ng-disabled="signupform.$invalid" class="form-control" value="注册">
    </form>
</div>
