<div class="col-xs-12">
  <div class="cpanel">
    <div class="cpanel-title">
        <h3 ng-click="getCourselist();"><a>所有课程</a></h3>
    </div>
    <div uib-collapse="courseCollapsed" style="padding: 15px;" class="cpanel-ul">
        <div class="cpanel-li" ng-if="nocourse" >暂无课程</div>
        <div class="cpanel-li" ng-repeat="course in courselist" ng-init="course.sectionCollapsed = true">
            <a ng-click="getSectionlist(course);"><h4 style="display: inline-block;">{{course.title}}</h4></a>
            <a ng-click="deleteCourse(course)" ng-if="isme" class="right"><h6>删除</h6></a>
            <a ng-click="editCourse(course)" ng-if="isme" class="right"><h6>编辑&nbsp;&nbsp;</h6></a>
            <div uib-collapse="course.sectionCollapsed" style="padding:0 15px;height: 70px;min-height: -20px;" class="cpanel-ul">
                <div class="cpanel-li" ng-if="course.nosection" >该课程暂无内容</div>
                <div class="cpanel-li" ng-repeat="section in course.sectionlist" >
                    <a ui-sref="app.section.detail({courseid: course.courseid, sectionid:section.sectionid})"><h5 style="display: inline-block;">{{section.title}}</h5></a>
                    <a ng-click="deleteSection(section, course)" ng-if="isme" class="right"><h6>删除</h6></a>
                    <a ng-click="editSection(section)" ng-if="isme" class="right"><h6>编辑&nbsp;&nbsp;</h6></a>
                </div>
                <div class="cpanel-li" ng-if="isme" style="margin-bottom: 15px"><a ui-sref="app.course.create">创建章节</a></div>
            </div>
        </div>
        <div class="cpanel-li" ng-if="isme"><a ui-sref="app.course.create">创建新课程</a></div>
    </div>
</div>  
</div>

<div class="col-xs-12">
    <div class="cpanel">
        <div class="cpanel-title">
            <h3 ng-click="getResourcelist();"><a>所有资源</a></h3>
        </div>
        <div uib-collapse="resourceCollapsed" style="padding: 15px;" class="cpanel-ul">
        <div class="cpanel-li" ng-if="noresource" >暂无资源</div>
        <div class="cpanel-li" ng-repeat="resource in resourcelist">
            <a ng-click="download(resource);"><h4 style="display: inline-block;">{{resource.title}}</h4></a>
            <a ng-click="deleteResource(resource)" ng-if="isme" class="right"><h6>删除</h6></a>
        </div>
        <div class="cpanel-li" ng-if="isme"><a ui-sref="app.resource.create">创建新资源</a></div>
    </div>
    </div>
</div>