<div class="container-fluid">
    <div>
        <h2>{{user.username}}</h2>
    </div>
    <div>
        <h3 ng-click="getCourselist();"><a>所有课程</a></h3>
        <ul uib-collapse="courseCollapsed" style="padding-top: 15px">
            <li ng-repeat="course in courselist" ng-init="course.sectionCollapsed = true">
                <a ng-click="getSectionlist(course);"><h4>{{course.title}}</h4></a>
                <ul uib-collapse="course.sectionCollapsed" style="padding-top: 15px">
                	<li ng-repeat="section in course.sectionlist" >
                		<a ui-sref="app.section.detail({courseid: course.courseid, sectionid:section.sectionid})"><h5>{{section.title}}</h5></a>
                	</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
